form ul
{
	list-style-type: none; /*Quitar viñetas */
	padding: 0px;
	margin: 0px;
}

form input[type="text"] 
{
	width: 10%;
	height: 10px;
}

form select 
{
	width: 80%;
	height: 30px;
}

li
{
	color: white;
	font-size: 20px;
}

body
{
	background-color: black;
}

legend
{
	color: white;
	font-size: 40px;
	font-weight: bold;
}

